.card{
  margin: 50px auto;
  width: 700px;
  height: 400px;
  border: 1px solid rgb(247, 245, 245);
  border-radius: 5px;
  padding: 15px;
  overflow: scroll;
  overflow-x: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.custom{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}
.custom th{
    text-align: left;
    background-color: #ddd;
    color: rgb(19, 14, 14);
}
 tr{
  height: 50px;
  border-bottom: 1px solid rgb(247, 245, 245);

}
 tr:hover {background-color: rgb(247, 245, 245);}

.btn{
  color: rgb(61, 67, 148);
  border:3px solid rgb(61, 67, 148);
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #fff;
}

.btnd{
  color: rgb(228, 15, 15);
  font-size: 12px;
  padding: 5px;
  border:3px solid rgb(228, 15, 15);
  background-color: #fff;
  border-radius: 5px;
} 